<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis홈페이지 매퍼설정에서 가져온 mapper설정 형식 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.tech.myapp.dao.QnaMapper">
    
    <insert id="qnaInsert" parameterType="com.tech.myapp.QnaVO">
        insert into shop_qnaboard_tb
            values
        (#{board_id},#{member_id},#{board_title},#{board_content})
    </insert>
    
    <select id="qnaList" resultType="com.tech.myapp.QnaVO">
        select * from shop_qnaboard_tb
    </select>
    
    <select id="qnaView" parameterType="int" resultType="com.tech.myapp.QnaVO">
        select * from shop_qnaboard_tb where board_id = #{board_id}
    </select>
     
    <update id="qnaUpdate" parameterType="com.tech.myapp.QnaVO">
        update shop_qnaboard_tb set board_title = #{board_title}, board_content = #{board_content} where board_id = #{board_id}
    </update>
    
    <delete id="qnaDelete" parameterType="int">
        delete from shop_qnaboard_tb where board_id = #{board_id}
    </delete>
    
    </mapper>